﻿@{
    ViewBag.Title = "title";
}

<div type="col-md-6" style="vertical-align: center">
    <img src="http://www.vectors4all.net/preview/minduka-rss-icon-clip-art.jpg" style="vertical-align:center" />
</div>
