﻿@model System.Collections.Generic.IEnumerable<System.Collections.Generic.IEnumerable<RSSModel.IRssModel>>

@{
    ViewBag.Title = "title";
}


@foreach (var row in Model)
{
    <div class="row">
        @foreach (var column in row)
        {
            <div class="SingleRss">
                <div class="col-md-6">
                    <div class="Item">
                        <h4 class="Title">
                            @column.Title
                        </h4>
                        <div class="Description">
                            @Html.Raw(column.Description)
                        </div>
                        <div class="Date">
                            @column.pubDate
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}


