﻿.Item {
    border-bottom: solid dimgray 3px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
    font-family: Arial;
    box-shadow: 1px 1px 20px 0 black;
    border-radius: 20px;
    background-color: #dedede;
}

.Title {
    padding: 10px;
    border-bottom: solid dimgray 3px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
    font-family: Arial;
    background: -webkit-linear-gradient(top, #ffb97c 0%,#ff9327 48%,#ff8411 52%,#ffb97c 100%);
    border-radius: 20px 20px 0;
}

.Description {
    border-bottom: solid dimgrey 3px;
    background-color: #a5a5a5;
    padding: 10px 0 10px 0;
    font-size: 15.5px;
    color: black;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 0px black;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

.Date {
    margin-left: 10px;
    background: -webkit-linear-gradient(top, #ffb97c 0%,#ff9327 48%,#ff8411 52%,#ffb97c 100%);
    border-radius: 15px 0 0 15px;
    border-bottom: solid dimgrey 3px;
    padding-left: 10px;
    font-size: 15px;
    margin-top: 15px;
}

.Description a{
    color: #000000;
}

.Description font {
    color: #FFB97C;
    text-shadow: 1px 1px 6px black;
}
.Description img {
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 10px;
    border-bottom: solid #ff9327 3px;

}
